.remove {
    display: inline-block;
    background: #c00;
    color: #fff;
    border-radius: 15px;
    padding: 0px 3px;
    cursor: pointer;
}
.add {
    display: inline-block;
    background: #0c0;
    color: #fff;
    border-radius: 15px;
    padding: 0px 3px;
    cursor: pointer;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.4s;
}
.add.add-hide {
    background: #c00;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tab-item {
    display: inline-block;
    float: left;
    padding: 5px 8px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.single-item {
    max-width: 200px;
    float: left;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
}
.clear {
    clear: both;
}
.new-tab-form {
    display: block;
    clear: both;
    margin: 16px auto;
    opacity: 1;
    max-height: 100px;
    transition: all 0.8s;
}
button {
    border: 1px solid #000;
    border-radius: 5px;
    background: transparent;
}
.new-tab-form.ng-hide:not(.ng-hide-animate) {
    display: block !important;
    opacity: 0;
    max-height: 0px;
}
.progress-bar {
    color: #000 !important;

}
