/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    margin: 0px;
    color: #fff;
    background-color: #002800;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: cornflowerblue;
}
.main-body .menu-bar {
    background-color: #000;
    border-bottom: 1px solid #00ff00;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}
.main-body .menu-bar .menu-body {
    max-width: 1080px;
    margin: 0 auto;
}
.main-body .menu-bar .menu-body a {
    color: #00ff00;
    margin: 5px 10px;
    text-decoration: none;
}
.main-body .menu-bar .menu-body a:hover {
    color: #fff;
}
.main-body .menu-bar .menu-body a.active {
    color: rgba(0,255,0,0.4);
}
.main-body .menu-bar .menu-body .menu-left{
    float: left;
    margin: 0px 20px;
}
.main-body .menu-bar .menu-body .menu-right{
    float: right;
    margin: 0px 20px;
}
.main-body.home {
    background-image: url("../img/programming.jpg");
    background-size: cover;
}
.main-body .mask {
    background-color: rgba(0, 40, 0, 0.9);
}
.main-body .bodyshell {
    max-width: 1080px;
    height: 100vh;
    margin: 0 auto;
    padding: 90px 30px 0px;
    font-family: 'Raleway', sans-serif;
}
.main-body .bodyshell .content-left {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.main-body .bodyshell .content-left .feature-image {
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 1px solid #00ff00;
    margin: 0 auto;
}
.main-body .bodyshell .content-left .feature-text {
    max-width: 300px;
    background: #000;
    padding: 5px 20px;
    border: 1px solid #00ff00;
    font-weight: 200;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
    top: -75px;
    right: -14%;
    font-family: Courier;
}

.main-body .bodyshell .content-left .feature-text p {
    margin: 5px 0 0 10px;
    overflow: hidden;
}

.main-body .bodyshell .content-right {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.main-body .bodyshell .content-right .main-info {
    margin: 0 auto;
    padding: 0px 30px;
    text-align: center;
}
.main-body .bodyshell .content-right .main-info p,
.main-body .bodyshell .content-right .main-info h1 {
    text-align: left;
}
.main-body a.cta-shell {
    color: #fff;
}
.main-body a.cta-shell:hover {
    text-decoration: underline;
}
@keyframes flash {
    0%   {background-color: transparent;}
    49%   {background-color: transparent;}
    50%  {background-color: #696969;}
    99%  {background-color: #696969;}
    100%   {background-color: transparent;}
}
@keyframes type{
    from { width: 0; }
}
.main-body a.cta-shell .cta-button {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width: 6em;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(12, end);
}
.main-body a.cta-shell .cta-button .cta-flash {
    animation-name: flash;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    width: 10px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    border-left: 2px solid #696969;
}

.main-body .bodyshell form {
text-align: center;
}
.main-body .bodyshell form fieldset {
    border: 1px solid #fff;
    padding: 10px;
}
.main-body .bodyshell form fieldset input {
    width: 60%;
    margin: 15px auto;
}
.main-body .bodyshell form input[type="submit"] {
    background: transparent;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
    padding: 2px 15px;
    border: 1px solid #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
}

/*.content-full {
    width: 100%;
}*/

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}
.grid-item.grid-item--width2 { width: 66.666%; }

.grid-item {
    float: left;
    border: 5px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.main-body .grid .grid-item .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 1s;
}
.main-body .grid .grid-item:hover .mask {
    background-color: rgba(0, 0, 0, 0);
}
.more_listing ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
.more-parent {
    position: relative;
}
.more-parent .more-section {
    position: absolute;
    opacity: 0;
    transition: all 1s;
}
.resume-nav .button {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
}

/* ==========================================================================
   Custom Mobile Styles
   ========================================================================== */
@media screen and (max-width: 865px) {
    .main-body .home-body .content-left .feature-text {
        right: -6%;
    }
}
@media screen and (max-width: 635px) {
    .main-body .bodyshell .content-right {
        width: auto;
        display: block;
        vertical-align: middle;
        padding-bottom: 20px;
    }
    .main-body .bodyshell .content-left {
        width: auto;
        display: block;
        vertical-align: middle;
    }
    .main-body .home-body .content-left .feature-text {
        right: 0;
        left: 0;
    }
    .main-body .grid .grid-item .mask {
        background-color: rgba(0, 0, 0, 0);
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
